html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #08110E, #3F6656 );
}

.main-tab {
    width: 94.79%;
    height: 90.74%;
    border-left: 1px solid #57977C;
    border-right: 1px solid #57977C;
    border-bottom: 1px solid #57977C;
    border-top: 100px solid #57977C; /* Top border as percentage of height */
    box-sizing: border-box;
    border-radius: 50px;
    background: transparent;
}

.separator {
    position: absolute;
    left: 10px; /* space from the left edge inside the rectangle */
    top: 50%; 
    left: 10%;
    transform: translateY(-45%);
    width: 1px;
    height: 70%;
    background-color: #57977C;
}

#dashboard-tab {
    position: absolute;
    top: 20%; /* slight offset from the top */
    left: 4.5%;
    width: 75px;
    object-fit: cover;
    height: 75px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url('images/dashboard.png');
}

#analytics-tab {
    position: absolute;
    top: 35%; /* slight offset from the top */
    left: 4.5%;
    width: 75px;
    object-fit: cover;
    height: 75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url('images/analytics(clicked).png');
    background-color: transparent;
    z-index: 1;
}

#database-tab {
    position: absolute;
    top: 50%; /* slight offset from the top */
    left: 4.5%;
    width: 75px;
    object-fit: cover;
    height: 75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url('images/table (clicked).png');
    background-color: transparent;
    z-index: 1;
}

#filing-tab {
    position: absolute;
    top: 65%; /* slight offset from the top */
    left: 4.5%;
    width: 75px;
    object-fit: cover;
    height: 75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url('images/filing.png');
    background-color: transparent;
}

#user-account-tab {
    position: absolute;
    top: 85%; /* slight offset from the top */
    left: 4.5%;
    object-fit: cover;
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url('images/user-account.png');
    background-color: transparent;
}

.shade {
    position: absolute;
    top: 47.5%; /* slight offset from the top */
    left: 2.7%;
    width: 7.3%;
    height: 12%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}